:root {
  --warnasatu: #082032;
  --warnadua: #474E68;
  --warnatiga: #50577A;
  --warnaempat: #D89216;
}

* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}
body {
  background-color: var(--warnasatu);
}
::-webkit-scrollbar {
  width: 3px;
}
::-webkit-scrollbar-thumb {
  background: var(--warnasatu); 
  border-radius: 10px;
}
.pesan-kesalahan {
  color: red;
}

/* container */
.container {
  width: 100%;
}

/* sidebar */
.sidebar {
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: var(--warnasatu);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 15px;
  color: #fff;
  display: block;
  transition: 0.3s;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.sidebar a img {
  margin-right: 10px;
}
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 15px;
  padding: 3px 12px 6px 12px;
  margin-top: 10px;
  border-radius: 50%;
  background-color: var(--warnaempat);
  color: #fff;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

/* header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px;
  background-color: var(--warnadua);
  border-radius: 3px;
}

/* nav */
.header .nav {
  display: flex;
  flex-direction: row;
}
.header .nav div {
  padding: 3px;
  display: flex;
  align-items: center;
}
.header .nav div a {
  margin: 0 20px;
  font-size: 18px;
  text-decoration: none;
  color: lightgray;
  display: flex;
  align-items: center;
}
.header .nav div a img {
  margin-right: 5px;
}
.header .nav .nav-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 3px 50px  3px 3px;
  padding: 5px 10px;
  cursor: pointer;
  background-color: var(--warnaempat);
  border-radius: 3px;
}
.header .nav .nav-bar img {
  margin-right: 5px;
}
.header .nav .nav-text {
  text-transform: uppercase;
  font-size: 18px;
  color: #fff;
}

/* notifikasi */
.header .notifikasi {
  margin-right: 20px;
}
.header .notifikasi img {
  margin-left: 25px;
}

/* content */
.content {
  margin: 0 5px;
}

/* dashboard */
.dashboard h1 {
  color: #fff;
  margin-bottom: 10px;
}
.dashboard .dashboard-content {
  border-radius: 3px;
}

/* dashboard total */
.dashboard .dashboard-content .total {
  width: 100%;
  height: 100px;
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 15px;
}
.dashboard .dashboard-content .total > div {
  background-color: var(--warnatiga);
  width: 100%;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.dashboard .dashboard-content .total > div > p {
  color: #fff;
  font-size: 18px;
}
.dashboard .dashboard-content .total > div > .angka {
  font-size: 25px;
}

/* dashboard tabel transaksi */
.tabel-transaksi {
  margin-top: 20px;
  width: 100%;
}
.tabel-transaksi table {
  width: 100%;
  color: #fff;
  border-spacing: 0;
}
.tabel-transaksi table thead {
  background-color: var(--warnaempat);
}
.tabel-transaksi table thead tr th {
  text-transform: uppercase;
  padding: 10px 3px;
}
.tabel-transaksi table thead tr th:first-child {
  border-radius: 5px 0 0 0;
}
.tabel-transaksi table thead tr th:last-child {
  border-radius: 0 5px 0 0;
}
.tabel-transaksi table tbody {
  background-color: var(--warnatiga);
}
.tabel-transaksi table tbody tr td {
  padding: 3px 3px;
  /* background-color: darkgoldenrod; */
}